<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../style/pme.css">
  <link rel="stylesheet" href="../../../../style/{{style}}">
  <!--Layout for (P)retty (M)uch (E)verything -->
  <title>{{ title }}</title>
</head>
<body>
  <header id="Nav">
    <div id="Logo">
      CFUEN
    </div>
    <nav id="Links">
      <a>
        Home
      </a>
      <a>
        Projects
      </a>
      <a>
        Articles
      </a>
      <a>
        Contact
      </a>
    </nav>
  </header>

  {{ content | safe }}
</body>
</html>
