#SearchBar {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

#SearchBar input {
	outline: none;
	border: 1px solid black;
	border-radius: 4rem;
	padding: .5rem 1.7rem .5rem 1.7rem;
	width: 50%;
	font-size: 1.5rem;
}

/* TODO: Make responsive */
#SearchResults {
	padding: .6rem .6rem .6rem .6rem;
	border-top: 1px solid black;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-column-gap: .6rem;
	grid-row-gap: .6rem;
}

.Result {
	border: 1px solid black;
	border-radius: .4rem;
}

.Result h4 {
	margin: 0 0 0 0;
}

.Result .Pic {
	overflow: hidden;
	background-position: center;
	height: 100%;
	height: 12rem;
	border-radius: .4rem .4rem 0 0;
}

.Result .Details {
	padding: .5rem;
}

.Result .Details h4 {
	padding-bottom: .5rem;
}

.Result .Details .Tags {
  display: flex;
  flex-direction: row;
	padding-top: .5rem;
}

.Result .Details .Tags div {
  font-size: 0.8rem;
  border: 1px solid black;
  padding: 0.3rem;
  border-radius: 4rem;
  margin-right: 0.3rem;
}

.Tags div.javascript {
	background-color: #f8db40;
	border-color: #7a6c21 !important;
	color: #2e2e2c;
}
