---
layout: pme.njk
style: search.css
---

<div id="Body">

  <section id="SearchBar">
    <input>
  </section>

  <section id="SearchOption">
	<!--
  {% for article in collections[tags[1]] %}
    <li>
      <ul>{{article.data.title}}</ul>
    </li>
  {% endfor %}
	-->
  </section>

  <section id="SearchResults">
  {% for article in collections.all %}
  {% if article.data.title %}
    <div class="Result">
      <div style="background-image: url({{article.data.pic}})" class="Pic">
      </div>
      <div class="Details">
        <h4>
          {{article.data.title}}
        </h4>
        <span>
          {{article.data.desc}}
        </span>
        <div class="Tags">
            <div class="{{article.data.language}}">{{article.data.language}}</div>
          {% for tag in article.data.tags.slice(2) %}
            <div>{{tag}}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  </section>

</div>
