---
layout: pme.njk
style: home.css
---

<section id="Hero">
	<img src="https://i.imgur.com/FdAI9DF.jpg"/>
	<div>
	<h1 class="Logo">CFUEN</h1>
		<h2>Software Developer</h2>
		<span>Nice to the eye, Bandwith-friendly apps</span>
	</div>
</section>

<section id="Body">

	<h3>Things I'm good at</h3>

	<div id="Tech">
		{% for tech in [
			{ name:'Lit',
				pic:'https://lit.dev/images/logo.svg#flame',
				link:'https://lit.dev/'},
			{ name:'Svelte',
				pic:'https://upload.wikimedia.org/wikipedia/commons/1/1b/Svelte_Logo.svg',
				link:'https://svelte.dev/'},
			{ name:'React',
				pic:'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K',
				link:'https://reactjs.org/'},
			{ name:'SolidJS',
				pic: 'https://www.solidjs.com/assets/logo.123b04bc.svg',
				link: 'https://www.solidjs.com/'},
			{ name: 'AlpineJS',
				pic: 'https://seeklogo.com/images/A/alpine-js-logo-21F4169EAB-seeklogo.com.png',
				link: 'https://alpinejs.dev/'},
			{ name: 'Tailwind',
				pic: 'https://iconape.com/wp-content/files/an/351546/png/tailwind-css-logo.png',
				link: 'http://tailwindcss.com/'},
			{ name: 'HTML5',
				pic: 'https://juststickers.in/wp-content/uploads/2014/05/HTML5-Mark-Shape-Cut-300x300.png',
				link: 'https://html.spec.whatwg.org/dev/'},
			{ name: 'CSS',
				pic: 'https://juststickers.in/wp-content/uploads/2014/05/CSS3-Mark-Shape-Cut.png',
				link: 'https://www.w3.org/Style/CSS/'},
			{ name: 'JavaScript',
				pic : 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png',
				link: 'https://www.javascript.com/'},
			{ name: 'TypeScript',
				pic: 'https://codingthesmartway.com/wp-content/uploads/2017/12/logo_typescript.png',
				link: 'https://www.typescriptlang.org/'
			}
		] %}
		<a href="{{tech.link}}" target="_blank" class="Tech">
			<div>
				<div>
					<img src="{{tech.pic}}">
				</div>
				<span>{{tech.name}}</span>
			</div>
		</a>
		{% endfor %}
	</div>
</section>
