---
layout: pme.njk
style: home.css
---

<!-- https://www.freepik.com/search?author=13115374&authorSlug=upklyak&format=author&query=isometric -->

<script type="module" src="../../../../scripts/img-load.js"></script>

<section id="Hero">
	<img src="https://i.imgur.com/FdAI9DF.jpg"/>
	<div>
	<h1 class="Logo">Juan Castillo</h1>
		<h2>Software Developer</h2>
		<span>Apps that are both performant and pretty</span>
	</div>
</section>

<section id="Body">

	<h3>Things I'm good at</h3>

	<div id="Tech">
		{% for tech in [
			{ name:'Lit',
				pic:'../pics/lit.png',
				link:'https://lit.dev/'},
			{ name:'Svelte',
				pic:'https://raw.githubusercontent.com/sveltejs/svelte/29052aba7d0b78316d3a52aef1d7ddd54fe6ca84/site/static/images/svelte-android-chrome-512.png',
				link:'https://svelte.dev/'},
			{ name:'React',
				pic:'https://cachecrew.com/blog/wp-content/uploads/2018/06/ReactJS-1473435732-1528516038100.png',
				link:'https://reactjs.org/'},
			{ name:'SolidJS',
				pic: 'https://miro.medium.com/max/552/1*ZCX0nmtPR7nVRswl0oqwCw.png',
				link: 'https://www.solidjs.com/'},
			{ name: 'AlpineJS',
				pic: 'https://seeklogo.com/images/A/alpine-js-logo-21F4169EAB-seeklogo.com.png',
				link: 'https://alpinejs.dev/'},
			{ name: 'Tailwind',
				pic: 'https://iconape.com/wp-content/files/an/351546/png/tailwind-css-logo.png',
				link: 'http://tailwindcss.com/'},
			{ name: 'HTML5',
				pic: 'https://juststickers.in/wp-content/uploads/2014/05/HTML5-Mark-Shape-Cut-300x300.png',
				link: 'https://html.spec.whatwg.org/dev/'},
			{ name: 'CSS',
				pic: 'https://juststickers.in/wp-content/uploads/2014/05/CSS3-Mark-Shape-Cut.png',
				link: 'https://www.w3.org/Style/CSS/'},
			{ name: 'JavaScript',
				pic : 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png',
				link: 'https://www.javascript.com/'},
			{ name: 'TypeScript',
				pic: 'https://codingthesmartway.com/wp-content/uploads/2017/12/logo_typescript.png',
				link: 'https://www.typescriptlang.org/'
			}
		] %}
		<a href="{{tech.link}}" target="_blank" class="Tech">
			<div>
				<div>
					<img-fetch
					width="90" height="100"
					src="{{tech.pic}}"/>
				</div>
				<span>{{tech.name}}</span>
			</div>
		</a>
		{% endfor %}
	</div>

	<div id="Me">

		<h3>About me</h3>

		<div>
			<span>I'm a Front-End web developer that loves to create engaging user interfaces. I mostly develop for the web, since it's my place of comfort, but I've also developed terminal applications and all sorts of scripts (tiny programs, usually no more than a file) to sort stuff in my computer.</span>
			<img
			style="margin-right: 10%;"
			src="https://cdn.iconscout.com/icon/free/png-256/laptop-device-pc-computer-isometric-grid-3d-view-32800.png">
		</div>

		<div>
			<img
			style="margin-left: 9%;"
			src="https://cdn.iconscout.com/icon/free/png-256/cube-isometric-grid-3d-design-game-fun-32812.png">
			<span>I'm always on the lookout for new knowledge I can absorb and apply to my applications, and I'm a fast learner. I'm good at teamwork and I do enjoy the company of others while I'm coding, but I often work alone. I work under pressure and will get any app shipped before the due date.</span>
		</div>

	</div>
</section>
